*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image:url(images/amos.jpg);
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.profile-box{
    background:hsl(0, 0%, 71%);
    text-align: center;
    padding: 10px 90px;
    color:whitesmoke;
    position: relative;
    border-radius: 20px;
}

.profile-pic{
    width: 150px;
    border-radius: 50px;
    background: #fff;
    padding: 6px;
    margin-top: 20px;
}

.profile-bottom{
    background: black;
    color: #999;
    padding: 60px 0;
    margin-left: -90px;
    margin-right: -90px;
    margin-bottom:-40px;
    border-radius: 20px;
    margin-top: -10px;
}

.profile-bottom img{
    width: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.profile-box button{
    background: black;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(244, 67, 54, 0.5);
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -100px;
    font-weight: 600;
    font-size: 16px ;
}

.profile-box h3{
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500;
}

.social-media img{
    width: 20px;
    margin:30px 5px;
    cursor: pointer;
}

.nav-main{
    position:fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background:whitesmoke;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.nav-main ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}

.nav-main ul li{
  list-style: none;
  line-height: 60px;
}

.nav-main ul li a{
display: block;
height: 100%;
padding:0 10px;
text-transform: uppercase;
text-decoration: none;
color:lightskyblue;
font-family: arial;
font-size: 16px;
color: black;
}

li{
 color: blue;
}

p{
 color: red;
}

    
